#filter{
    background: $grey;

    select{
        background: transparent;
        padding: 10px;
        font-size: 14px;
        font-weight: 500;
        color: #1b1b1b;
        display: block;
    }
}