@import "variables";

body {
    margin: 0;
}

#content-area {
    overflow: auto;
    width: 100%;
    min-height: 100vh;
}

// Grid Components
@import "grid";

// Component Styles
@import "header";
@import "filter";
@import "listings";
@import "pagination";