#pagination {
    width:100%;
    display: block;
    text-align: center;
    clear: both;
  
    .pages{
      margin: 0 auto;
      display: inline-block;
      background: white;
      -webkit-box-shadow: 0px 9px 54px 4px rgba(176,176,176,1);
      -moz-box-shadow: 0px 9px 54px 4px rgba(176,176,176,1);
      box-shadow: 0px 9px 54px 4px rgba(176,176,176,1);
  
      li {
        padding: 20px 30px;
        display: inline-block;
  
        &.active,
        &:hover{
          color: white;
          font-weight: 700;
          background: $pink;
          cursor: pointer;
        }
      }
    }
  }
  